.idea/
cmak-build-debug/
CMakeFiles/
bench/
cmake_install.cmake
CMakeCache.txt
install_manifest.txt
libntrusign.so
Makefile
test_ntru
test_ntru.cbp
bin/bench

NTRUSignKeyChain/CMakeFiles/
NTRUSignKeyChain/bench/
NTRUSignKeyChain/cmake_install.cmake
NTRUSignKeyChain/CMakeCache.txt
NTRUSignKeyChain/test_ntru
*.cbp
/libntrusign.a
src/*.o
